[submodule "uv"]
	path = uv
    url = https://github.com/joyent/libuv
    ignore = dirty
[submodule "jansson"]
	path = jansson
    url = https://github.com/akheron/jansson
    ignore = dirty
[submodule "libsdnbc"]
	path = libsdnbc
	url = https://github.com/mrbroll/libsdnbc.git
